<!DOCTYPE html>
<html>
  <head>
      <title>Places to visit</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.9/ngStorage.min.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/visit.css">
      <script src="js/contollers/placesList.js"></script>
      <script src="js/visit.js"></script>
      <!-- <script type="text/javascript">
      // function initialize() {
      //     var mapProp = {
      //       center:new google.maps.LatLng(39.50,-98.35),
      //       zoom:5,
      //       mapTypeId:google.maps.MapTypeId.ROADMAP
      //     };
      //     var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
      //     }
      //     google.maps.event.addDomListener(mapProp, 'load', initialize);
       // </script> -->
  </head>
  <body id="body" ng-app="VisitApp" ng-controller="PlacesList" onload="generateBackground()">
    <div id="input">
      <h1>Where in the world would you like to visit?</h1>
      <input id="placeName" type="text" name="placeName" ng-model="placeName" placeholder="Seattle">
      <input id="placeState"type="text" name="placeState" ng-model="placeState" placeholder="WA">
      <button type="button" name="placeInputButton" ng-click="addLocation()">Add Location</button>
    </div>
    <div id="placesToVisit">
      <h1>Places to Visit</h1>
      <ul>
        <li ng-repeat="place in places">
            <p>{{place}}
            <button type="button" name="visited" ng-click="visited($index)">Visit</button>
            <button type="button" name="removeLocation" ng-click="removeLocation($index)">Remove</button></p>
        </li>
      </ul>
    </div>
    <div id="visitedPlaces">
      <h1>Places I Visited</h1>
        <ul>
          <li ng-repeat="place in placesGone">
              {{place}}
              <button type="button" name="removeVisited" ng-click="removeVisited($index)">Remove</button>
          </li>
        </ul>
    </div>

    <div class="googleMap">

    </div>
  </body>
</html>
