<!DOCTYPE html>
<html>
  <head>
      <title>Places to vist it</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <script src="contollers/placesList.js"></script>
  </head>
  <body ng-app="VisitApp" ng-controller="PlacesList">
    <input id="placeName" type="text" name="placeName" ng-model="placeName" placeholder="Seattle">
    <input id="placeState"type="text" name="placeState" ng-model="placeState" placeholder="WA">
    <button type="button" name="placeInputButton" ng-click="addLocation()">Add Location</button>
    <div id="placesToVisit">
      <ul>
        <li ng-repeat="place in places">
            {{place}}
        </li>
      </ul>
    </div>
  </body>
</html>
